.user-side
  height: 200vh
.nav-user-side
  .nav
    background-color: #3B3F5E
    height: 6em
    .search-nav
      width: 85em
      margin-left: 0 !important
  		.input-field
  			label
  				i
  					color: #444
  .sticky
    .search-nav
      width: 85em
      margin-left: 20em !important
