.user-side
  width: 100%
.nav-user-side
  .nav
    background-color: #004064
    height: 6em
    .search-nav
      margin-left: 16.7% !important
      width: 72.4%
  		.input-field
  			label
  				i
  					color: #444
  .sticky
    .search-nav
      margin-left: 16.7% !important
      width: 72.4%
.user-side
  .side-nav
    width: 100%
    li
      padding: 0
    li:hover
      background-color: #003350
    li.active
      background-color: #003350
.user-side
  .sticky
    .side-nav
      width: 16.65%

.side-nav-left
  h6
    line-height: 0
    margin: 0

.side-nav.fixed
  position: inherit
.side-nav
  .dropdown-content
    position: relative !important
    top: 0 !important
.side-nav
  #style-1::-webkit-scrollbar-thumb
  	border-radius: 10px
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
  	background-color: #195373
ul.dropdown-content
  li:hover
    background-color: #003350 !important
