.user-side
  width: 100%
.nav-user-side
  .nav
    background-color: #004064
    height: 6em
    .search-nav
      margin-left: 16.7% !important
      width: 72.4%
  		.input-field
  			label
  				i
  					color: #444
  .sticky
    .search-nav
      margin-left: 16.7% !important
      width: 72.4%
.user-side
  .side-nav
    width: 100%
    li:hover
      background-color: #003350
.user-side
  .sticky
    .side-nav
      width: 16.65%

.side-nav-left
  h6
    line-height: 0
    margin: 0

.side-nav.fixed
  position: inherit

.dropdown-content
  position: relative !important
  top: 0 !important
